.node {
    width: 100px;
    height: 100px;
    display: inline-block;
    background-color: black;
    position: relative;
    border:1px solid gray;
    vertical-align: top; /*use this top remove horizontal white space between rows*/
    pointer-events: none;
  }
 
.round-node {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  display: inline-block;
  background-color: black;
  position: relative;
  border:0.5px solid black;
  vertical-align: top; /*use this top remove horizontal white space between rows*/
  pointer-events: none;
}

/*grid size for mobile */
  @media only screen and (max-width: 800px) {
    .node {
      width: 70px;
      height: 70px;
      display: inline-block;
      background-color: black;
      position: relative;
      border:0.5px solid gray;
      vertical-align: top; /*use this top remove horizontal white space between rows*/
      pointer-events: none;
    }
    
  }


  @media only screen and (max-width: 800px) {
    .node-num {
      font-size:25px !important;
      text-align: center;
      width: 50px;
      height: 50px;
      font-weight: bolder;
      top:0;
    }
    
  }

  .node-num {
    font-size:40px;
    text-align: center;
    position: relative;
    font-weight: bolder;
    top:25%;
  }

  .App {
    width:100%;
    height: 100%;
  }
  
  .gameOver {
    font-size:5vw;
    color:red;
    position: absolute;
    top:30%;
    left:37.5%;
    visibility: hidden;
    z-index: 99;
  }

  .gameWon {
    font-size:5vw;
    color:green;
    position: absolute;
    top:30%;
    left:37.5%;
    visibility: hidden;
    z-index: 99;
  }

  .node-active {
    background-color:white;
    pointer-events: auto;
  }
  .node-gamefinished {
    background-color: lightgray;
    pointer-events: none;
    color:blue;
  }

  .popup-content {
    position:absolute !important;
    top:100px;
    left:25%;
    height:20%;
  }

  @media only screen and (max-width: 800px) {
    .popup-content {
      position:absolute !important;
      top:20px;
      left:5%;
      height:80%;
      width:90% !important;
    }
  }


  
  @media only screen and (max-width: 800px) {
    .modal {
      font-size: 5vw;
      width: 100% !important;
      margin-left: 1px;
      margin-right: 1px;
      margin-top: 2px;
      margin-bottom: 100px;
      border-radius: 4px;
    }
  }
  .modal {
    font-size: 12px;
    width: 100% !important;
    margin-left: 1px;
    margin-right: 1px;
    margin-top: 2px;
    margin-bottom: 100px;
    border-radius: 4px;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    height:50%;
    font-size:20px;
    text-align:left;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
    position: absolute;
    bottom:0;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }